Shanghai_Dialect_Conversational_Speech_Corpus/TXT
Shanghai_Dialect_Conversational_Speech_Corpus/WAV
Shanghai_Dialect_Conversational_Speech_Corpus/AUDIOINFO.txt
Shanghai_Dialect_Conversational_Speech_Corpus/README.txt
Shanghai_Dialect_Conversational_Speech_Corpus/SPKINFO.txt
Shanghai_Dialect_Scripted_Speech_Corpus_Daily_Use_Sentence/WAV
Shanghai_Dialect_Scripted_Speech_Corpus_Daily_Use_Sentence/README.txt
Shanghai_Dialect_Scripted_Speech_Corpus_Daily_Use_Sentence/SPKINFO.txt
Shanghai_Dialect_Scripted_Speech_Corpus_Daily_Use_Sentence/UTTRANSINFO.txt
asr.zip
packages
wav2vec2-large-xlsr-53-chinese-zh-cn
